.btn-explanations-odd{
    float: right;
}

.btn-explanations-even{
    float: left;
    margin-top: 30px;
}

.explanation{
    display: none;
}

.jumbotron{
    margin-bottom: 0;
}

.btn-yes-no{
    margin-left: 5px;
}
